<ion-view title="3° Año" id="page10" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="3AO-list78">
      <ion-item class="item-divider" id="3AO-list-item-divider9"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="3AO-list79">
      <ion-item class="item-icon-left dark" id="3AO-list-item35" ui-sref="ingIndustrial.conocYEnseDeMat()">
        <i class="icon ion-university"></i>Conoc. y Ens. de Mat.</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item270" ui-sref="ingIndustrial.termodinMica()">
        <i class="icon ion-university"></i>Termodinámica</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item271" ui-sref="ingIndustrial.electrNica()">
        <i class="icon ion-university"></i>Electrónica</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item272" ui-sref="ingIndustrial.elementosDeMaquinas()">
        <i class="icon ion-university"></i>Elementos de Maquinas</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item269" ui-sref="ingIndustrial.instalacionesElCtricas()">
        <i class="icon ion-university"></i>Instalaciones Eléctricas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="3AO-list9">
      <ion-item class="item-divider" id="3AO-list-item-divider10"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item36" ui-sref="ingIndustrial.tecnologAMecNica()">
        <i class="icon ion-university"></i>Tecnología Mecánica</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item276" ui-sref="ingIndustrial.maqTRmicasYFrigorFicas()">
        <i class="icon ion-university"></i>Maq. Térmicas y Frigoríficas</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item275" ui-sref="ingIndustrial.contYMontIndustriales()">
        <i class="icon ion-university"></i>Const. y Mont. Industriales</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item274" ui-sref="ingIndustrial.operacionesUnitariasI()">
        <i class="icon ion-university"></i>Operaciones Unitarias I</ion-item>
    </ion-list>
  </ion-content>
</ion-view>