<ion-view title="4° Año" id="page40" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="4AO-list87">
      <ion-item class="item-divider" id="4AO-list-item-divider15"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="4AO-list88">
      <ion-item class="item-icon-left dark" id="4AO-list-item239" ui-sref="ingIndustrial.investigaciNOperativa()">
        <i class="icon ion-university"></i>Investigación Operativa</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item280" ui-sref="ingIndustrial.automatizaciNIndustrial()">
        <i class="icon ion-university"></i>Automatización Industrial</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item281" ui-sref="ingIndustrial.operacionesUnitariasII()">
        <i class="icon ion-university"></i>Operaciones Unitarias II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list89">
      <ion-item class="item-divider" id="4AO-list-item-divider16"> Anual</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item282" ui-sref="ingIndustrial.organizaciNIndustrial()">
        <i class="icon ion-university"></i>Organización Industrial</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item240" ui-sref="ingIndustrial.instalIndustParaServicios()">
        <i class="icon ion-university"></i>Instal. Indust. para Servicios</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list98">
      <ion-item class="item-divider" id="4AO-list-item-divider21"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item278" ui-sref="ingIndustrial.optimizaciNYControl()">
        <i class="icon ion-university"></i>Optimización y Control</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item283" ui-sref="ingIndustrial.seguridadEHigieneIndustrial()">
        <i class="icon ion-university"></i>Seguridad e Higiene Industrial</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item284" ui-sref="ingIndustrial.legislaciNIndustrial()">
        <i class="icon ion-university"></i>Legislación Industrial</ion-item>
    </ion-list>
  </ion-content>
</ion-view>