<ion-view title="Admin. de Empresas" id="page56" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="adminDeEmpresas-list131">
      <ion-item class="item-icon-right dark" id="adminDeEmpresas-list-item377">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="adminDeEmpresas-list-item378">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="adminDeEmpresas-list-item379">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="adminDeEmpresas-list132">
      <ion-item class="item-icon-right dark" id="adminDeEmpresas-list-item380">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="adminDeEmpresas-list-item381">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="adminDeEmpresas-list-item382">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>