<ion-view title="Análisis Matemático I" id="page16" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="anLisisMatemTicoI-list18">
      <ion-item class="item-divider" id="anLisisMatemTicoI-list-item-divider11"> </ion-item>
      <ion-item class="item-icon-right dark" id="anLisisMatemTicoI-list-item98">1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anLisisMatemTicoI-list-item99">2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anLisisMatemTicoI-list-item100">3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="anLisisMatemTicoI-list19">
      <ion-item class="item-icon-right dark" id="anLisisMatemTicoI-list-item101">4
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anLisisMatemTicoI-list-item102">5
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anLisisMatemTicoI-list-item103">6
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>