<ion-view title="Automatización Industrial" id="page49" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="automatizaciNIndustrial-list117">
      <ion-item class="item-icon-right dark" id="automatizaciNIndustrial-list-item335">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="automatizaciNIndustrial-list-item336">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="automatizaciNIndustrial-list-item337">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="automatizaciNIndustrial-list118">
      <ion-item class="item-icon-right dark" id="automatizaciNIndustrial-list-item338">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="automatizaciNIndustrial-list-item339">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="automatizaciNIndustrial-list-item340">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>