<ion-view title="Cálculo Numérico" id="page27" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="cLculoNumRico-list40">
      <ion-item class="item-icon-right dark" id="cLculoNumRico-list-item164">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="cLculoNumRico-list-item165">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="cLculoNumRico-list-item166">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="cLculoNumRico-list41">
      <ion-item class="item-icon-right dark" id="cLculoNumRico-list-item167">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="cLculoNumRico-list-item168">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="cLculoNumRico-list-item169">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>