<ion-view title="Conoc. y Ense. de Mat." id="page33" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="conocYEnseDeMat-list52">
      <ion-item class="item-icon-right dark" id="conocYEnseDeMat-list-item200">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="conocYEnseDeMat-list-item201">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="conocYEnseDeMat-list-item202">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="conocYEnseDeMat-list53">
      <ion-item class="item-icon-right dark" id="conocYEnseDeMat-list-item203">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="conocYEnseDeMat-list-item204">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="conocYEnseDeMat-list-item205">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>