<ion-view title="Electrotecnia" id="page29" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="electrotecnia-list44">
      <ion-item class="item-icon-right dark" id="electrotecnia-list-item176">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrotecnia-list-item177">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrotecnia-list-item178">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="electrotecnia-list45">
      <ion-item class="item-icon-right dark" id="electrotecnia-list-item179">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrotecnia-list-item180">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrotecnia-list-item181">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>