<ion-view title="Física I" id="page21" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="fSicaI-list28">
      <ion-item class="item-icon-right dark" id="fSicaI-list-item128">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaI-list-item129">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaI-list-item130">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="fSicaI-list29">
      <ion-item class="item-icon-right dark" id="fSicaI-list-item131">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaI-list-item132">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaI-list-item133">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>