<ion-view title="Gestión de RR. HH." id="page59" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="gestiNDeRRHH-list137">
      <ion-item class="item-icon-right dark" id="gestiNDeRRHH-list-item395">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="gestiNDeRRHH-list-item396">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="gestiNDeRRHH-list-item397">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="gestiNDeRRHH-list138">
      <ion-item class="item-icon-right dark" id="gestiNDeRRHH-list-item398">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="gestiNDeRRHH-list-item399">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="gestiNDeRRHH-list-item400">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>