<ion-view title="Gestión de Calidad" id="page60" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="gestiNDeCalidad-list139">
      <ion-item class="item-icon-right dark" id="gestiNDeCalidad-list-item401">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="gestiNDeCalidad-list-item402">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="gestiNDeCalidad-list-item403">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="gestiNDeCalidad-list140">
      <ion-item class="item-icon-right dark" id="gestiNDeCalidad-list-item404">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="gestiNDeCalidad-list-item405">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="gestiNDeCalidad-list-item406">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>