<ion-view title="Implantación Industrial" id="page57" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="implantaciNIndustrial-list133">
      <ion-item class="item-icon-right dark" id="implantaciNIndustrial-list-item383">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="implantaciNIndustrial-list-item384">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="implantaciNIndustrial-list-item385">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="implantaciNIndustrial-list134">
      <ion-item class="item-icon-right dark" id="implantaciNIndustrial-list-item386">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="implantaciNIndustrial-list-item387">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="implantaciNIndustrial-list-item388">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>