<ion-view title="Instal. Indust. para Servicios" id="page52" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="instalIndustParaServicios-list123">
      <ion-item class="item-icon-right dark" id="instalIndustParaServicios-list-item353">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalIndustParaServicios-list-item354">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalIndustParaServicios-list-item355">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="instalIndustParaServicios-list124">
      <ion-item class="item-icon-right dark" id="instalIndustParaServicios-list-item356">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalIndustParaServicios-list-item357">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalIndustParaServicios-list-item358">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>