<ion-view title="Legislación Industrial" id="page55" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="legislaciNIndustrial-list129">
      <ion-item class="item-icon-right dark" id="legislaciNIndustrial-list-item371">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="legislaciNIndustrial-list-item372">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="legislaciNIndustrial-list-item373">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="legislaciNIndustrial-list130">
      <ion-item class="item-icon-right dark" id="legislaciNIndustrial-list-item374">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="legislaciNIndustrial-list-item375">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="legislaciNIndustrial-list-item376">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>