<ion-view title="Maq. Térmicas y Frigoríficas" id="page45" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="maqTRmicasYFrigorFicas-list109">
      <ion-item class="item-icon-right dark" id="maqTRmicasYFrigorFicas-list-item311">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="maqTRmicasYFrigorFicas-list-item312">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="maqTRmicasYFrigorFicas-list-item313">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="maqTRmicasYFrigorFicas-list110">
      <ion-item class="item-icon-right dark" id="maqTRmicasYFrigorFicas-list-item314">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="maqTRmicasYFrigorFicas-list-item315">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="maqTRmicasYFrigorFicas-list-item316">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>