<ion-view title="Operaciones Unitarias I" id="page47" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="operacionesUnitariasI-list113">
      <ion-item class="item-icon-right dark" id="operacionesUnitariasI-list-item323">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="operacionesUnitariasI-list-item324">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="operacionesUnitariasI-list-item325">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="operacionesUnitariasI-list114">
      <ion-item class="item-icon-right dark" id="operacionesUnitariasI-list-item326">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="operacionesUnitariasI-list-item327">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="operacionesUnitariasI-list-item328">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>