<ion-view title="Práctica Prof. Supervisada" id="page61" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="prCticaProfSupervisada-list141">
      <ion-item class="item-icon-right dark" id="prCticaProfSupervisada-list-item407">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaProfSupervisada-list-item408">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaProfSupervisada-list-item409">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="prCticaProfSupervisada-list142">
      <ion-item class="item-icon-right dark" id="prCticaProfSupervisada-list-item410">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaProfSupervisada-list-item411">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="prCticaProfSupervisada-list-item412">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>