<ion-view title="Programas de Cátedra" id="page12" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item54">
        <i class="icon ion-ios-list-outline"></i>Sistemas de Representación</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item55">
        <i class="icon ion-ios-list-outline"></i>Informática</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item33">
        <i class="icon ion-ios-list-outline"></i>Álgebra y Geometría Analítica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item34">
        <i class="icon ion-ios-list-outline"></i>Análisis Matemático I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item53">
        <i class="icon ion-ios-list-outline"></i>Química General e Inorgánica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Física I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item56">
        <i class="icon ion-ios-list-outline"></i>Química Orgánica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item58">
        <i class="icon ion-ios-list-outline"></i>Análisis Matemático II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Física II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Estabilidad</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Ingles</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item62">
        <i class="icon ion-ios-list-outline"></i>Calculo Numérico</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item63">
        <i class="icon ion-ios-list-outline"></i>Estadística</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Electrotecnia</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item65">
        <i class="icon ion-ios-list-outline"></i>Mecánica de los Fluidos</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item66">
        <i class="icon ion-ios-list-outline"></i>Sistemas Informáticos</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item67">
        <i class="icon ion-ios-list-outline"></i>Economía</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item68">
        <i class="icon ion-ios-list-outline"></i>Conoc. y Ens. de Mat.</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Termodinámica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Electrónica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item72">
        <i class="icon ion-ios-list-outline"></i>Elementos de Maquinas</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Instalaciones Eléctricas</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Tecnología Mecánica</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item243">
        <i class="icon ion-ios-list-outline"></i>Maq. Térmicas y Frigoríficas</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item244">
        <i class="icon ion-ios-list-outline"></i>Const. y Mont. Industriales</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item245">
        <i class="icon ion-ios-list-outline"></i>Operaciones Unitarias I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item246">
        <i class="icon ion-ios-list-outline"></i>Investigación Operativa</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item247">
        <i class="icon ion-ios-list-outline"></i>Automatización Industrial</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item248">
        <i class="icon ion-ios-list-outline"></i>Operaciones Unitarias II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item249">
        <i class="icon ion-ios-list-outline"></i>Organización Industrial</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item250">
        <i class="icon ion-ios-list-outline"></i>Instal. Indust. para Servicios</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item251">
        <i class="icon ion-ios-list-outline"></i>Optimización y Control</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item252">
        <i class="icon ion-ios-list-outline"></i>Seguridad e Higiene Industrial</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item253">
        <i class="icon ion-ios-list-outline"></i>Legislación Industrial</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item254">
        <i class="icon ion-ios-list-outline"></i>Admin. de Empresas</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item255">
        <i class="icon ion-ios-list-outline"></i>Implantación Industrial</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item256">
        <i class="icon ion-ios-list-outline"></i>Gestión Ambiental</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item257">
        <i class="icon ion-ios-list-outline"></i>Gestión de RR. HH.</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item258">
        <i class="icon ion-ios-list-outline"></i>Gestión de Calidad</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item259">
        <i class="icon ion-ios-list-outline"></i>Práctica Prof. Supervisada</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item260">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>