<ion-view title="Seguridad e Higiene Industrial" id="page54" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="seguridadEHigieneIndustrial-list127">
      <ion-item class="item-icon-right dark" id="seguridadEHigieneIndustrial-list-item365">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="seguridadEHigieneIndustrial-list-item366">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="seguridadEHigieneIndustrial-list-item367">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="seguridadEHigieneIndustrial-list128">
      <ion-item class="item-icon-right dark" id="seguridadEHigieneIndustrial-list-item368">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="seguridadEHigieneIndustrial-list-item369">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="seguridadEHigieneIndustrial-list-item370">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>