<ion-view title="Sistemas Informáticos" id="page31" style="background-color:#00A7C3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="sistemasInformTicos-list48">
      <ion-item class="item-icon-right dark" id="sistemasInformTicos-list-item188">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasInformTicos-list-item189">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasInformTicos-list-item190">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="sistemasInformTicos-list49">
      <ion-item class="item-icon-right dark" id="sistemasInformTicos-list-item191">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasInformTicos-list-item192">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasInformTicos-list-item193">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>